{
    "semi": true,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "vueIndentScriptAndStyle": true,
    "htmlWhitespaceSensitivity": "strict",
    "bracketSpacing": true,
    "trailingComma": "none",
    "tabWidth": 4,
    "arrowParens": "avoid",
    "printWidth": 120,
    "endOfLine": "lf",
    "singleAttributePerLine": true
}
